html,
body {
  font-size: 10px;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .content h1 {
    font-size: 250%;
  }
  p {
    font-size: 100%;
    line-height: 160%;
  }
}
.intro {
  height: 100%;
  width: 100%;
  margin: auto;
  background: url("./images/header.jpg") no-repeat 50% 50%;
  display: table;
  top: 0;
  background-size: cover;
}
.intro .inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  max-width: none;
}
.content {
  max-width: 50rem;
  margin: 0 auto;
  text-align: right;
}
.content h1 {
  font-family: "Charm", cursive;
  color: #000;
  text-shadow: 0rem 0rem 3rem #000;
  font-size: 500%;
}
p {
  font-size: 168%;
  line-height: 210%;
  text-align: justify;
  margin: 3%;
  font-family: sans-serif;
}
